{%extends 'base.html' %}
{% block title %}Run stats{% endblock title %}
{% block main %}
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('.q30') }}">All</a></li>
    {% for machine in machines %}
    <li><a href="{{ url_for('.q30', machinename=machine) }}">{{ machine }}</a></li>
    {% endfor %}
    <ul>
</div>
<table id="q30table" class="table table-striped tablesorter">
    <thead>
    <tr>
        <th>Run #</th>
        <th>Date</th>
        <th>Run name</th>
        <th>Flowcell</th>
        <th>Lane</th>
        <th>readcounts</th>
        <th>Mil reads / fc lane</th>
        <th>q30 %</th>
        <th>q30 Mil reads / fc lane</th>
    </tr>
    </thead>
    <tbody>
    {% for row in out %}
    {% if row['q30 %']|float < 60.0 %}
    {% set q30class = 'q30ugly' %}
    {% elif row['q30 %']|float < 90.0 %}
    {% set q30class = 'q30bad' %}
    {% else %}
    {% set q30class = 'q30good' %}
    {% endif %}
    <tr>
        <td>{{ row['run number'] }}</td>
        <td>{{ row['run date'] }}</td>
        <td>{{ row['run name'] }}</td>
        <td>{{ row['flowcell name'] }}</td>
        <td>{{ row['lane'] }}</td>
        <td>{{ row['readcounts'] }}</td>
        <td>{{ row['mil reads fc lane'] }}</td>
        <td class="{{ q30class }}">{{ row['q30 %'] }}</td>
        <td>{{ row['q30 mil reads fc lane'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() { 
  $("#q30table").tablesorter(); 
}); 
</script>
{% endblock main %}
