{%extends 'base.html' %}
{% block title %}Run stats{% endblock title %}
{% block main %}
<table id="runstable" class="table table-striped tablesorter">
    <thead>
    <tr>
        <th>YEAR</th>
        <th>MONTH</th>
        <th>RUNS</th>
        <th>Mil reads</th>
        <th>Mil reads / fc lane</th>
    </tr>
    </thead>
    <tbody>
    {% for row in out %}
    <tr>
        <td>{{ row['year'] }}</td>
        <td>{{ row['month'] }}</td>
        <td>{{ row['runs'] }}</td>
        <td>{{ row['mil reads'] }}</td>
        <td>{{ row['mil reads fc lane'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() { 
  $("#runstable").tablesorter(); 
}); 
</script>
{% endblock main %}
