{% extends 'base.html' %}
{% from 'macros.html' import q30class %}
{% block title %} Sample stats {% endblock title %}
{% block main %}

{% if samplename is not none %}
<table id="terms" class="table table-striped">
    <tr>
        <td>Sample name</td>
        <td>{{ samplename }}</td>
    </tr>
    <tr>
        <td>Flowcells</td>
        <td>{% for fc in fcs %} {{ fc }} {% endfor %}</td>
    </tr>
</table>
{% endif %}

<table id="sampletable" class="table table-striped tablesorter">
    <thead>
    <tr>
        {% if samplename is none %}
        <th>Samplename</th>
        {% endif %}
        <th>Run date</th>
        <th>Run name</th>
        <th>Barcode</th>
        <th>Lane</th>
        <th>Yield (Mb)</th>
        <th>Passed filter (%)</th>
        <th>Readcounts (mil)</th>
        <th>Raw Clusters (%)</th>
        <th>Perfect Indexreads</th>
        <th>q30 %</th>
        <th>Mean QC</th>
        <th>Flowcell</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody>
    {% for row in out %}
    <tr>
        {% if samplename is none %}
        <td><a href="{{ url_for('.sample', samplename=row['samplename']) }}">{{ row['samplename'] }}</a></td>
        {% endif %}
        <td>{{ row['rundate'] }}</td>
        <td>{{ row['runname'] }}</td>
        <td>{{ row['barcode'] }}</td>
        <td>{{ row['lane'] }} </td>
        <td>{{ row['yield_mb'] }}</td>
        <td>{{ row['passed_filter_pct'] }}</td>
        <td>{{ row['readcounts'] }}</td>
        <td>{{ row['raw_clusters_per_lane_pct'] }}</td>
        <td>{{ row['perfect_indexreads_pct'] }}</td>
        <td class="{{ q30class(row['q30_bases_pct']) }}">{{ row['q30_bases_pct'] }}</td>
        <td>{{ row['mean_quality_score'] }}</td>
        <td>{{ row['flowcellname'] }}</td>
        <td>{{ row['flowcell_pos'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
$(document).ready(function() {
  $("#sampletable").tablesorter();
});
</script>
{% endblock main %}
