body {
  padding-top: 70px;
}

.q30good {
    background: #DFF0D8;
}

.q30bad {
    background: #FCF8E3;
}

.q30ugly {
    background: #FCE3E6;
}

.highlight-row {
    background: #FCF8E3;
    -o-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.fade {
    background-color: transparent;
}

.hilight_machine {
    background-image: linear-gradient(to bottom, #FFF 0px, #F8F8F8 100%);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 5px rgba(0, 0, 0, 0.075);
}

.unhilight_machine a {
}
